<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party</title>
</head>
<style>
    *{
        padding: 0%;
        margin: 0%;
    }
    body{
        background-image: url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bXVzaWMlMjBwYXJ0eXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    img{
        height:200px;
        width:300px;
    }
    h1{
        margin-left: 60px;
        margin-top: 30px;
        margin-right: 70px;
        color:rgb(127, 15, 15);
        text-align: center;
        font-size: 70px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: oblique;
    }
    img{
        margin-left: 50px;
    }
    audio{
        width: 400px;
        height: 200px;
    }
    </style>
<body>
    <marquee direction="left" scrollamount="15"><h1><b>Energize Your Party Vibes with the Best Music</b></h1></marquee>
    <br><br><br>
    <div class="player">
        <div class="imgbx">
        <img src="https://i.postimg.cc/HsN3YR62/austin-neill-hg-O1w-FPXl3-I-unsplash.jpg">
        <audio controls><source src="http://physical-authority.surge.sh/music/2.mp3">
        </audio>
    <div class="imgbx">
        <img src="https://i.postimg.cc/HsN3YR62/austin-neill-hg-O1w-FPXl3-I-unsplash.jpg">
        <audio controls><source src="http://physical-authority.surge.sh/music/2.mp3">
        </audio>
    <div class="imgbx">
        <img src="https://i.postimg.cc/HsN3YR62/austin-neill-hg-O1w-FPXl3-I-unsplash.jpg">
        <audio controls><source src="http://physical-authority.surge.sh/music/2.mp3">
        </audio>
    <div class="imgbx">
        <img src="https://i.postimg.cc/HsN3YR62/austin-neill-hg-O1w-FPXl3-I-unsplash.jpg">
        <audio controls><source src="http://physical-authority.surge.sh/music/2.mp3">
        </audio>
    <div class="imgbx">
        <img src="https://i.postimg.cc/HsN3YR62/austin-neill-hg-O1w-FPXl3-I-unsplash.jpg">
        <audio controls><source src="http://physical-authority.surge.sh/music/2.mp3">
        </audio>
    </div>
</body>
</html>